# Compiled files
*.pyd
*.pyc

# Visual Studio project files
*.pyproj
*.sln
*.suo
.vs/
.cache/

# Jupyter notebook files
.ipynb_checkpoints/

# Setuptools files
*.egg-info

# Coverage file
.coverage
/build